{
  "extends": "@damilaredev/eslint-config-typescript",
  "rules": {
    "semi": "off",
    "@typescript-eslint/indent": "off",
    "space-before-function-paren": "off",
    "no-useless-constructor": "off"
  }
}
